<div class="contenedor-estudio bg-dark">
    <div class="row estudio_encabezado text-white">
        <h2>ESTUDIOS</h2>
    </div>
    <div class="row estudio">
        <button class="btn btn-primary" (click)="onCrearEstudioModal()" *ngIf="isLoggedIn">
            Agregar Estudio
          </button>
        <div *ngFor="let estudio of estudios" class="card mb-3 bg-secondary text-white">
            <div class="row g-0">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <img src={{estudio.imagen}} class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseWidthExample" aria-expanded="false"
                        aria-controls="collapseWidthExample" (click)="onEditarEstudioModal(estudio.id)" *ngIf="isLoggedIn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil" viewBox="0 0 16 16">
                            <path
                                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z">
                            </path>
                        </svg>
                        Editar
                    </button>
                    <button type="button" class="btn btn-outline-danger" (click)="onEliminarEstudioModal(estudio.id)" *ngIf="isLoggedIn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash3" viewBox="0 0 16 16">
                            <path
                                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z">
                            </path>
                        </svg>
                        Delete
                    </button>
                    <div class="card-body">
                        <h3 class="card-title">{{estudio.titulo}}</h3>
                        <h4>{{estudio.institucion}}</h4>
                        <h5>{{estudio.fechaInicio}}</h5>
                        <h5>{{estudio.fechaFin}}</h5>
                        <p class="card-text">{{estudio.descripcion}}</p>
                    </div>
                </div>
            </div>
        </div>
</div>

        <!-- MODAL CON FORMULARIO PARA CREAR LAS EstudioS -->
<div class="modal" tabindex="-1" id="nuevoEstudioModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Nuevo Estudio</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container">
              <div class="row">
                  <form [formGroup]="nuevoEstudioForm">
                      <div class="col">
                          <div>
                              <label for="titulo">Titulo</label>
                              <input type="text" class="form-control" id="titulo" formControlName="titulo">
                          </div>
                          <div>
                              <label for="institucion">Institucion</label>
                              <input type="text" class="form-control" id="institucion" formControlName="institucion">
                          </div>
                          <div>
                              <label for="imagen">Imágen (URL)</label>
                              <input type="text" class="form-control" id="imagen" formControlName="imagen">
                          </div>
                          <div>
                              <label for="descripcion">Descripcion</label>
                              <textarea id="descripcion" class="form-control" name="descripcion" cols="10" rows="5" formControlName="descripcion"></textarea>
                          </div>
                          <div>
                              <label for="fechaInicio">Fecha Inicio</label>
                              <input id="fechaInicio" type="date" class="form-control" name="fechaInicio" formControlName="fechaInicio">
                          </div>
                          <div>
                              <label for="fechaFin">Fecha Finalizado</label>
                              <input id="fechaFin" type="date" class="form-control" name="fechaFin" formControlName="fechaFin">
                          </div>
                      </div>
                  </form>
                  
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="onCrearEstudio()">Crear</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- MODAL CON FORMULARIO PARA EDITAR LAS EstudioS -->
  <div class="modal" tabindex="-1" id="editarEstudioModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Estudio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <form [formGroup]="editarEstudioForm">
                            <div class="col">
                              <div class="form-floating mb-3">
                                <input hidden type="text" class="form-control" id="idEditar" formControlName="id">
                            </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="tituloEditar" formControlName="titulo" 
                                        placeholder="Titulo de trabajo">
                                    <label for="tituloEditar">Titulo:</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="institucionEditar"
                                        formControlName="institucion" placeholder="institucion:">
                                    <label for="institucionEditar">Institucion:</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control"  id="imagenEditar" formControlName="imagen"
                                        placeholder="URL:">
                                    <label for="imagenEditar">Logo de Institucion:</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" placeholder="Describe las tareas.."
                                        id="descripcionEditar" formControlName="descripcion"></textarea>
                                    <label for="descripcionEditar">Descripcion:</label>
                                </div>
                                <div class="mb-2">
                                  <label for="fechaInicioEditar">Fecha Inicio</label>
                                  <input id="fechaInicioEditar" type="date" class="form-control" name="fechaInicio" formControlName="fechaInicio">
                              </div>
                              <div class="mb-2">
                                  <label for="fechaFinEditar">Fecha Finalizado</label>
                                  <input id="fechaFinEditar" type="date" class="form-control" name="fechaFin" formControlName="fechaFin">
                              </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer"> 
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="onEditarEstudio()">Editar</button>
            </div>
        </div>
    </div>
</div>

<!-- eliminar Estudio Modal -->
<div class="modal" tabindex="-1" id="eliminarEstudioModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar Estudio:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <p>Desea eliminar?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="onEliminarEstudio()">Eliminar</button>
            </div>
        </div>
    </div>
  </div>