.estudio_encabezado{
    text-align: center;
}
.row{
    --bs-gutter-x: 0;
}
.estudio{
    padding: 0 3rem;
}
@media (min-width: 300px) {
    .col-xs-8{
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-xs-4{
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    
}