<div class="container-proyecto mt-5 row">
    <div class="col-lg-6 col-md-6 col-sm-12 ">
        <div class="card mb-3 border-light bg-dark text-white">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-primary">Visitar</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 ">
        <div class="card mb-3 border-light bg-dark text-white">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-primary">Visitar</a>
            </div>
        </div>
    </div>
</div>