<div class="container-proyecto row">
    <div class="col-lg-6 col-md-12 col-sm-12" style="background-color: aqua;">

    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="row proyecto_titulo">
            <h4>Yelpcamp</h4>
        </div>
        <div class="row">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In quidem perspiciatis aliquid eos repellat illo
                velit, blanditiis quis adipisci accusamus cupiditate esse minus hic optio, quasi corrupti consequuntur,
                similique doloribus.
            </p>
            <button class="btn-success btn">Visitar</button>
        </div>
    </div>
</div>