<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
        
        <div class="row">
            <circle-progress 
        [percent]="85"
        [maxPercent]="100"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="10"
        [space]="-10"
        [animationDuration]="1000"
        [outerStrokeColor]="'#039b31'"
        [innerStrokeColor]="'#b4d0fe'"
        [outerStrokeGradientStopColor]="'#392cf2'"
        [outerStrokeGradient]="true"
        [showImage]="true"
        [imageSrc]="'../assets/html.png'"
        [imageWidth]="100"
        [imageHeight]="100"
        [animation]="true"
        [responsive]="true"
        ></circle-progress>
        </div>
        <div class="row text-white" style="font-size: 2rem;">
            <p>HTML5</p>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
        <div class="row">
            <circle-progress 
        [percent]="85"
        [maxPercent]="100"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="10"
        [space]="-10"
        [animationDuration]="1000"
        [outerStrokeColor]="'#039b31'"
        [innerStrokeColor]="'#b4d0fe'"
        [outerStrokeGradientStopColor]="'#392cf2'"
        [outerStrokeGradient]="true"
        [showImage]="true"
        [imageSrc]="'../assets/CSS.png'"
        [imageWidth]="100"
        [imageHeight]="100"
        [animation]="true"
        [responsive]="true"
        ></circle-progress>
        </div>
        <div class="row text-white" style="font-size: 2rem;">
            <p>CSS3</p>
        </div>
        
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
        <div class="row">
            <circle-progress 
        [percent]="85"
        [maxPercent]="100"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="10"
        [space]="-10"
        [animationDuration]="1000"
        [outerStrokeColor]="'#039b31'"
        [innerStrokeColor]="'#b4d0fe'"
        [outerStrokeGradientStopColor]="'#392cf2'"
        [outerStrokeGradient]="true"
        [showImage]="true"
        [imageSrc]="'../assets/github.png'"
        [imageWidth]="98"
        [imageHeight]="110"
        [animation]="true"
        [responsive]="true"
        ></circle-progress>
        </div>
        <div class="row text-white" style="font-size: 2rem;">
            <p>Github</p>
        </div>
        
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
        <div class="row">
            <circle-progress 
        [percent]="85"
        [maxPercent]="100"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="10"
        [space]="-10"
        [animationDuration]="1000"
        [outerStrokeColor]="'#039b31'"
        [innerStrokeColor]="'#b4d0fe'"
        [outerStrokeGradientStopColor]="'#392cf2'"
        [outerStrokeGradient]="true"
        [showImage]="true"
        [imageSrc]="'../assets/eng.png'"
        [imageWidth]="98"
        [imageHeight]="110"
        [animation]="true"
        [responsive]="true"
        ></circle-progress>
        </div>
        <div class="row text-white" style="font-size: 2rem;">
            <p>Ingles</p>
        </div>
       
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
        <div class="row">
            <circle-progress 
        [percent]="85"
        [maxPercent]="100"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="10"
        [space]="-10"
        [animationDuration]="1000"
        [outerStrokeColor]="'#039b31'"
        [innerStrokeColor]="'#b4d0fe'"
        [outerStrokeGradientStopColor]="'#392cf2'"
        [outerStrokeGradient]="true"
        [showImage]="true"
        [imageSrc]="'../assets/js.png'"
        [imageWidth]="98"
        [imageHeight]="110"
        [animation]="true"
        [responsive]="true"
        ></circle-progress>
        </div>
        <div class="row text-white" style="font-size: 2rem;">
            <p>Javascript</p>
        </div>
        
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
        <div class="row">
            <circle-progress 
        [percent]="85"
        [maxPercent]="100"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="10"
        [space]="-10"
        [animationDuration]="1000"
        [outerStrokeColor]="'#039b31'"
        [innerStrokeColor]="'#b4d0fe'"
        [outerStrokeGradientStopColor]="'#392cf2'"
        [outerStrokeGradient]="true"
        [showImage]="true"
        [imageSrc]="'../assets/grupal.png'"
        [imageWidth]="98"
        [imageHeight]="110"
        [animation]="true"
        [responsive]="true"
        ></circle-progress>
        </div>
        <div class="row text-white" style="font-size: 2rem;">
            <p>Trabajo en equipo</p>
        </div>
       
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
        <div class="row">
            <circle-progress 
        [percent]="85"
        [maxPercent]="100"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="10"
        [space]="-10"
        [animationDuration]="1000"
        [outerStrokeColor]="'#039b31'"
        [innerStrokeColor]="'#b4d0fe'"
        [outerStrokeGradientStopColor]="'#392cf2'"
        [outerStrokeGradient]="true"
        [showImage]="true"
        [imageSrc]="'../assets/reactjs.png'"
        [imageWidth]="100"
        [imageHeight]="100"
        [animation]="true"
        [responsive]="true"
        ></circle-progress>
        </div>
        <div class="row text-white" style="font-size: 2rem;">
            <p>React</p>
        </div>
        
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
        <div class="row">
            <circle-progress 
        [percent]="85"
        [maxPercent]="100"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="10"
        [space]="-10"
        [animationDuration]="1000"
        [outerStrokeColor]="'#039b31'"
        [innerStrokeColor]="'#b4d0fe'"
        [outerStrokeGradientStopColor]="'#392cf2'"
        [outerStrokeGradient]="true"
        [showImage]="true"
        [imageSrc]="'../assets/java-logo.png'"
        [imageWidth]="98"
        [imageHeight]="110"
        [animation]="true"
        [responsive]="true"
        ></circle-progress>
        </div>
        <div class="row text-white" style="font-size: 2rem;">
            <p>Java</p>
        </div>
        
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
        <div class="row">
            <circle-progress 
        [percent]="85"
        [maxPercent]="100"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="10"
        [space]="-10"
        [animationDuration]="1000"
        [outerStrokeColor]="'#039b31'"
        [innerStrokeColor]="'#b4d0fe'"
        [outerStrokeGradientStopColor]="'#392cf2'"
        [outerStrokeGradient]="true"
        [showImage]="true"
        [imageSrc]="'../assets/spring-boot-logo.png'"
        [imageWidth]="110"
        [imageHeight]="85"
        [animation]="true"
        [responsive]="true"
        ></circle-progress>
        </div>
        <div class="row text-white" style="font-size: 2rem;">
            <p>Spring Boot</p>
        </div>
    </div>
    
</div>