<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <app-logo-arg-prog></app-logo-arg-prog>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
           <app-redes></app-redes>
            <form action="" method="get">
                <button class="btn btn-outline-success" type="submit">LOGIN</button>
            </form>
        </div>
    </div>
</nav>