<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <app-logo-arg-prog></app-logo-arg-prog>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 ">
                <li class="nav-item redes">
                    <a href=""><img src="../../../assets/github.png" alt="github"></a>
                </li>
                <li class="nav-item redes">
                    <a href=""><img src="../../../assets/linkedin.png" alt="linkedin"></a>
                </li>
            </ul>
            <form action="" method="get">
                <button class="btn btn-outline-success" type="submit">LOGIN</button>
            </form>
        </div>
    </div>
</nav>