<div class="row contenedor-acerca">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 contendor-fotoPerfil">
        <img id="fotoperfil" src="../../../assets/fotoPerfil.png" alt="Foto de perfil" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 contenedor-nombre">
        <p id="nombre" class="mt-5">
            Yoel Maximiliano Galarza
        </p>
        <p id="cargo">
            Full Stack Developer
        </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 contenedor-descripcion">
        <h1>Acerca de mi</h1>
        <p class="descripcion"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, adipisci. Rem rerum officiis eos impedit unde dolorem est nam laudantium beatae, omnis eius nemo adipisci aliquam cumque magnam eligendi atque?
        </p>
    </div>
</div>